body {
  padding-top: 4.5rem;
}

@media (min-width: 1200px) {
  .container {
      max-width: 960px;
  }
}

/* https://stackoverflow.com/questions/4086107/fixed-page-header-overlaps-in-page-anchors */ 
:target::before {
  content: "";
  display: block;
  height: 60px; /* fixed header height*/
  margin: -60px 0 0; /* negative fixed header height */
}

div.content ul, div.content blockquote, div.footer {
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
}

blockquote {
  margin: 1em 40px;
}

code,
pre {
  background: #f5f7f9;
}

code {
  padding: 2px 4px;
  vertical-align: text-bottom;
}

pre {
  padding: 1em;
  border-left: 2px solid #69c;
}

img {
  max-width: 100%;
  height: auto;
}

span.date {
  font-size: 90%;
  margin: 0 6px;
}

div.date {
  font-size: 90%;
  margin: 10px 0;
}

div.post {
  margin: 20px 0 40px;
}

div.footer {
  font-size: 90%
}

.lava_layer_1 {
  color: red;
}

.lava_layer_2 {
  color: gold;
}

.lava_layer_3 {
  color: cyan;
}

.lava_layer_4 {
  color: green;
}